---
layout: page
title: Další motivy
---

<p>
    Zde najdete další motivy pro Lepší rozvrh. Tlačítkem "Kopírovat" se motiv vloží do schránky a tlačítko "Importovat do Lepšího rovrhu" se pokusí rovnou otevřít aplikaci (pokud je nainstalovaná)
</p>


<section>
    <h2>Černobílý</h2>
    <p>
        Jen černá a bílá. Nic víc.
    </p>
    {% include local-image.html image="themes/cernobily.png" class="theme-preview" width_frac=2 %}
    <p class="theme-string">
        H4sIAAAAAAAAAH2STW_DIAyG_4vPVZVkm1Tl1m6dmLRD1UbamQWaoBaIGPvIqv73YRJlgSXDyoHH5vULzgXK9aaCHLYZBizcfmeEpKYt-Jd1icQvn9hrLf_SAy-1YlMH7mtVReKI5vQxN9kCE_NdHsSHYNwEbCsb2_rWj355ZozGqo2ryXwViSrInDMyaYvMeyKcOkuxvIezPXz2H0lR1Wf3RVRL_qnNKYBP6qjPQnHf_zbDGONe-tdYSxWnRc0lh_wCTWdwrEjLkqvgzCstT5XR74ohXWPAdQGs6afxIpitIU-WK4SD9x6ny8TjwfxdB3aUMeH-GW2tlpDfBPSZH23M9t2DhLDQzYDwrj2GPEP21ozf4SC-3aXTPhPMJl11MBoJ1l5_AIULaAc3AwAA
    </p>
    <a class="big-button copy-button" role="button" href="javascript:kopirovat()" >Kopírovat</a><span> </span>
    <a class="big-button import-button" role="button" href="javascript:alert('Něco se nepovedlo. Kontaktujte prosím vývojáře na lepsi-rozvrh@email.cz')">Importovat do Lepšího rovrhu</a>
</section>
<section>
    <h2>Zelený</h2>
    <p>
        Zelený motiv, který je k vidění na snímcích obrazovky.
    </p>
    {% include local-image.html image="themes/zeleny.png" class="theme-preview" width_frac=2 %}
    <p class="theme-string">
        H4sIAAAAAAAAAHWSy26DMBBF_2XWUQUEBGXHK6JSF1ESqWvXdsBKsJHrPtIo_17b5AEUjFhw7njmzgxnwCfEKdrVtKEQn-Ed4UMlxScnEMPKKdLCgQUgjClXmuRBkoS-Jq1kDZInjRw39HwfLgvAybqjO_pjgh17wAgbIZobdf3EyyzdUiw4mbqQ1bxKK42KIHfT4Ibm8httsoQR5qvk7IsRKvud4qJp1cmW7jEphYlK9T3PktJG5FG-zJ7t95yzctJWOe-ppEhbsumdPIz87AGHNVb2PNRxyp7OqvqoX_XYlqGiod9CHvpbxS98L46MU1vf98zTx_9SJ8MlkfY60jdGVA2x--QYeDcwwncHQQfWiBCmFy-UEg3EywF9pXs1ZpuuqyHcifaOjOErhtgz7KPtN7Nlv_q3d6_KYMBu1MHRXE3s5Q9xzxaVNwMAAA    </p>
    <a class="big-button copy-button" role="button" href="javascript:kopirovat()" >Kopírovat</a><span> </span>
    <a class="big-button import-button" role="button" href="javascript:alert('Něco se nepovedlo. Kontaktujte prosím vývojáře na lepsi-rozvrh@email.cz')">Importovat do Lepšího rovrhu</a>
</section>
<section>
    <h2>Starý</h2>
    <p>
        Původní vzhled lepšího rozvrhu.
    </p>
    {% include local-image.html image="themes/stary.png" class="theme-preview" width_frac=2 %}
    <p class="theme-string">
        H4sIAAAAAAAAAHWSy26DMBBF_2XWUQUEBGXHK6JSF1ESqWvXdsBKsJHrPtIo_17b5AEUjFhw7njmzgxnwCfEKdrVtKEQn-Ed4UMlxScnEMPKKdLCgQUgjClXmuRBkoS-Jq1kDZInjRw39HwfLgvAybqjO_pjgh17wAgbIZobdf3EyyzdUiw4mbqQ1bxKK42KIHfT4Ibm8httsoQR5qvk7IsRKvud4qJp1cmW7jEphYlK9T3PktJG5FG-zJ7t95yzctJWOe-ppEhbsumdPIz87AGHNVb2PNRxyp7OqvqoX_XYlqGiod9CHvpbxS98L46MU1vf98zTx_9SJ8MlkfY60jdGVA2x--QYeDcwwncHQQfWiBCmFy-UEg3EywF9pXs1ZpuuqyHcifaOjOErhtgz7KPtN7Nlv_q3d6_KYMBu1MHRXE3s5Q9xzxaVNwMAAA    </p>
    <a class="big-button copy-button" role="button" href="javascript:kopirovat()" >Kopírovat</a><span> </span>
    <a class="big-button import-button" role="button" href="javascript:alert('Něco se nepovedlo. Kontaktujte prosím vývojáře na lepsi-rozvrh@email.cz')">Importovat do Lepšího rovrhu</a>
</section>
<section>
    <h2>Kožený</h2>
    <p>
        Elegantní motiv, který krásně ladí s Vaším kožným pouzdrem.
    </p>
    {% include local-image.html image="themes/kozeny.png" class="theme-preview" width_frac=2 %}
    <p class="theme-string">
        H4sIAAAAAAAAAH2SW2-DIBiG_wvXzSKKbfVuTs2W7KJpTXbNhCppBcPYwTX97wM0Ldo6iBc873d4-fAEysekAjGI1qt85YOFPm8ka7DsCvqjtODZZYWtEM0t3dFScHIv4anm1aS4QXP1jXa3hRHmu6TsixEqNQuDwPORYVnTqs62dpiUwkQlOs-3mc82YokQCiJ7HjvL7bKCY0ujKOvp1JOTQLG2ZMsHKcxheIWzPaz6T0lW1Uf9GYqgrhlYKhr6LeShDw2zpYEvfC-OjFPbH_lmu_imdIc5xUVNGwriE2h7gzrCTyHyEh2By5Jy5fZ4x-WhkuKTk-uMzwtA2uE13hhRNYjhg2fgxfsEX8yHPdhgQpj-Z4RSogFxMKKvdK-mbNsPZAwL0V6QueuAQewb9tG6c9ixX31pOCijt4HrHk6exMSe_wAlLfx4NwMAAA</p>
    <a class="big-button copy-button" role="button" href="javascript:kopirovat()" >Kopírovat</a><span> </span>
    <a class="big-button import-button" role="button" href="javascript:alert('Něco se nepovedlo. Kontaktujte prosím vývojáře na lepsi-rozvrh@email.cz')">Importovat do Lepšího rovrhu</a>
</section>

<script src="{{ site.baseurl }}/js/copy-button.js"></script>