---
layout: page
title: Další motivy
gallery: true
qr-button: true
---

<p>
    Zde najdete další motivy pro Lepší rozvrh. Tlačítkem "Kopírovat" se motiv vloží do schránky a tlačítko <i>Importovat do Lepšího rovrhu</i> se pokusí rovnou otevřít aplikaci (pokud je nainstalovaná).
</p>


<section>
    <h2>Černobílý</h2>
    <p>
        Jen černá a bílá. Nic víc.
    </p>
    {% include local-image.html image="themes/cernobily.png" class="theme-preview" width_frac=2 alt="screenshot" %}
    <p class="theme-string">
        H4sIAAAAAAAAAH2STW_DIAyG_4vPVZVkm1Tl1m6dmLRD1UbamQWaoBaIGPvIqv73YRJlgSXDyoHH5vULzgXK9aaCHLYZBizcfmeEpKYt-Jd1icQvn9hrLf_SAy-1YlMH7mtVReKI5vQxN9kCE_NdHsSHYNwEbCsb2_rWj355ZozGqo2ryXwViSrInDMyaYvMeyKcOkuxvIezPXz2H0lR1Wf3RVRL_qnNKYBP6qjPQnHf_zbDGONe-tdYSxWnRc0lh_wCTWdwrEjLkqvgzCstT5XR74ohXWPAdQGs6afxIpitIU-WK4SD9x6ny8TjwfxdB3aUMeH-GW2tlpDfBPSZH23M9t2DhLDQzYDwrj2GPEP21ozf4SC-3aXTPhPMJl11MBoJ1l5_AIULaAc3AwAA
    </p>
    <a class="big-button copy-button" role="button" href="javascript:kopirovat()" >Kopírovat</a><span> </span>
    <a class="big-button import-button" role="button" href="javascript:alert('Něco se nepovedlo. Kontaktujte prosím vývojáře na lepsi-rozvrh@email.cz')">Importovat do Lepšího rovrhu</a>
    <a class="big-button qr-button" role="button">Zobrazit QR kód</a>
</section>
<section>
    <h2>Zelený</h2>
    <p>
        Zelený motiv, který je k vidění na snímcích obrazovky.
    </p>
    {% include local-image.html image="themes/zeleny.png" class="theme-preview" width_frac=2 alt="screenshot" %}
    <p class="theme-string">
        H4sIAAAAAAAAAHWSy26DMBBF_2XWUQUEBGXHK6JSF1ESqWvXdsBKsJHrPtIo_17b5AEUjFhw7njmzgxnwCfEKdrVtKEQn-Ed4UMlxScnEMPKKdLCgQUgjClXmuRBkoS-Jq1kDZInjRw39HwfLgvAybqjO_pjgh17wAgbIZobdf3EyyzdUiw4mbqQ1bxKK42KIHfT4Ibm8httsoQR5qvk7IsRKvud4qJp1cmW7jEphYlK9T3PktJG5FG-zJ7t95yzctJWOe-ppEhbsumdPIz87AGHNVb2PNRxyp7OqvqoX_XYlqGiod9CHvpbxS98L46MU1vf98zTx_9SJ8MlkfY60jdGVA2x--QYeDcwwncHQQfWiBCmFy-UEg3EywF9pXs1ZpuuqyHcifaOjOErhtgz7KPtN7Nlv_q3d6_KYMBu1MHRXE3s5Q9xzxaVNwMAAA    </p>
    <a class="big-button copy-button" role="button" href="javascript:kopirovat()" >Kopírovat</a><span> </span>
    <a class="big-button import-button" role="button" href="javascript:alert('Něco se nepovedlo. Kontaktujte prosím vývojáře na lepsi-rozvrh@email.cz')">Importovat do Lepšího rovrhu</a>
    <a class="big-button qr-button" role="button">Zobrazit QR kód</a>
</section>
<section>
    <h2>Starý</h2>
    <p>
        Původní vzhled lepšího rozvrhu.
    </p>
    {% include local-image.html image="themes/stary.png" class="theme-preview" width_frac=2 alt="screenshot" %}
    <p class="theme-string">
        H4sIAAAAAAAAAH2SX2-CMBTFv0ufzSJoHfKGQMOSPRg12XNHKzRKSzr2hxm_-3pLo4KyNjz0d27PPW05oTxaFShEhCRLHKGJWa-1qKhud_ynMcLUDitslKru6ZbnSrLrhsX0OQlWIMWlLAbmgMb8QXvYAoTxLon4EozrHkurumldaxiWaa2gamVcfeub2Yo0Tgnx7HosWfYwVjaeKePURLL2MUmCJL7C0R5W_cdSFOXRfEDJMgp8bKmq-LfSBzgHwTNsrV7kXh2F5Lb_3Id5i5319WZaKjndlbziKDyhugt424bmOZewZ45xtJgb8k7zQ6HVp2RQF8FE5wlitXuNN8GaEoXe0xTgJbvDvsOX8LgDa8qYMP-MahpVoXDWo6983wzZpruQPtyp-oLgrA67th_17T1sxa85tOeU3tt4QQcHTwK15z8Eg1cdNwMAAA</p>
    <a class="big-button copy-button" role="button" href="javascript:kopirovat()" >Kopírovat</a><span> </span>
    <a class="big-button import-button" role="button" href="javascript:alert('Něco se nepovedlo. Kontaktujte prosím vývojáře na lepsi-rozvrh@email.cz')">Importovat do Lepšího rovrhu</a>
    <a class="big-button qr-button" role="button" href="javascript:alert('Něco se nepovedlo. Kontaktujte prosím vývojáře na lepsi-rozvrh@email.cz')">Zobrazit QR kód</a>
</section>
<section>
    <h2>Kožený</h2>
    <p>
        Elegantní motiv, který krásně ladí s Vaším kožným pouzdrem.
    </p>
    {% include local-image.html image="themes/kozeny.png" class="theme-preview" width_frac=2 alt="screenshot" %}
    <p class="theme-string">
        H4sIAAAAAAAAAH2SXW-DIBSG_wvXzSJ-1OrdrJot2UXTmuyaCVXSAoaxD9f0vw_QWbXtSLzged9zzgt4AuVjUoEYRKswD12w0PuNpAzJtiDfSguOXVbYCsGu6Y6UguNbBeuaV7PmBt3rb7SbI4xwf0pKPykmUrPA8xzXNyxjjWrt6BGTUhhXoutcW_lkHUvf973I7qfJcrusMIqlUZR1dJ5pVECQjmTbeynMYXCBd2dY9Z-WtKqP-jM0W2dRFloqGPkS8tBZg2xp4DPfiyPlZDb_D1-1bhEnqKgJIyA-gaYLqB1uCn0n0Q5UloSr8Yw3VB4qKT44vtzxeQFw07_GK8WqBjF8cAwcsvfY6_EQPujABmFM9T8jlBJssPX0hezVnG27C5nCQjQDMmftMYhdw96b8T3s6I8-NOyVydvAVQdnT2K8518-I3hINwMAAA</p>
    <a class="big-button copy-button" role="button" href="javascript:kopirovat()" >Kopírovat</a><span> </span>
    <a class="big-button import-button" role="button" href="javascript:alert('Něco se nepovedlo. Kontaktujte prosím vývojáře na lepsi-rozvrh@email.cz')">Importovat do Lepšího rovrhu</a>
    <a class="big-button qr-button" role="button">Zobrazit QR kód</a>
</section>

<!--
    Pro přidání motivu vložte screenshot do složky themes a zkopírujte tento kód:
<section>
    <h2>(Jméno motivu)</h2>
    <p>
        (Popis motivu)
    </p>
    {% include local-image.html image="themes/(zazev screenshotu).png" class="theme-preview" width_frac=2 alt="screenshot" %}
    <p class="theme-string">
        (kód motivu - ten dlouhý text z url motivu)    
    </p>
    <a class="big-button copy-button" role="button" href="javascript:kopirovat()" >Kopírovat</a><span> </span>
    <a class="big-button import-button" role="button" href="javascript:alert('Něco se nepovedlo. Kontaktujte prosím vývojáře na lepsi-rozvrh@email.cz')">Importovat do Lepšího rovrhu</a>
    <a class="big-button qr-button" role="button">Zobrazit QR kód</a>
</section>
-->

<h2>Chcete zde i svůj motiv?</h2>
<p>
    Máte nějaký úžasný motiv, který si myslíte, že si zaslouží být na této stránce? Nebojte se mi ho poslat na <a href="mailto:lepsi-rozvrh@email.cz">lepsi-rozvrh@email.cz</a> nebo stránku přímo <a href="{{ site.repo }}blob/webpages/motivy.html">upravte na GitLabu</a>. Vřele uvítám jakékoliv příspěvky a na této stránce je místa dost.
</p>

<script src="{{ site.baseurl }}/js/copy-button.js"></script>